.App {
  text-align: center;

}
a{
text-decoration: none;
color:#3b5998;
}
.logwrrap{
  height: 390px;
  width:400px;
  padding:50px 0px;
  border: #efefef solid 2px;
  margin: 40px auto 10px ;
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: rotate(0deg);
}
input{
  height: 45px;
   width:300px;
   border: #efefef 1px solid;
   border-radius: 6px;
   padding-left: 10px;
}
.btn{
  height: 45px;
   width:300px;
   border: #efefef 1px solid;
   border-radius: 6px;
   padding-left: 10px;
   margin-top: 10px;
   margin-bottom: 50px;
   
   color:white;
   font-size:17px;
   
}
.insta-img{
  width:200px;
  height: 100px;
  display: inline-block;
  justify-content: center;
}
.log-id{
 margin-bottom: 10px;
}
.facebook{

  color: #3b5998;
  font-size: 15px;
}
.forget{
  color: #3b5998;
  font-size: 8px;
}


@keyframes App-logo-spin {
  from { 
  }
  to {
    transform: rotate(360deg);
  }
}
